@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&display=swap");
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", monospace;
  background: linear-gradient(135deg, #2a2a2a, #3a3a3a, #4a4a4a);
  background-size: 300% 300%;
  animation: gradientAnimation 200s linear infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.center {
  display: flex;
  justify-content: center;
  width: 100%;
}
.wrapper {
  width: 60%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.473);
}
::-moz-selection {
  background: #ffffff40;
}
::selection {
  background: #ffffff40;
}

/* --------------- Navbar ------------------ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.navbar-title {
  padding: 0px 8px;
  font-size: 36px;
  background-color: #dfdfdf;
  margin-left: 2rem;
  transition: scale 0.2s;
}
.navbar-title a {
  text-decoration: none;
  color: black;
}
.navbar-title:hover {
  scale: 1.06;
}
.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-right: 2rem;
}
.navbar-menu li {
  position: relative;
}
.navbar-menu li a {
  padding: 8px;
  color: #dfdfdf;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}
.navbar-menu li a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #dfdfdf;
  transition: width 0.2s ease-in-out;
}
.navbar-menu li a:hover::after {
  width: 100%;
}

/* ------------ Intro ----------- */
.intro {
  display: flex;
  align-items: center;
  gap: 28px;
  width: 100%;
  color: #dfdfdf;
}
.intro-image img {
  width: 240px;
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
  margin-left: 38px;
  border-radius: 10rem;
}
.intro-image img:hover {
  scale: 1.04;
}
.intro-text {
  text-align: justify;
  margin-right: 38px;
  font-size: 20px;
  line-height: 30px;
}

/* -------------- Info -------------- */

.info {
  display: flex;
  width: 100%;
  margin-top: 20px;
  background-color: #202020;
}
.find-me {
  flex: 5;
  padding: 20px;
  padding-left: 32px;
  color: #dfdfdf;
}
.find-me ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
}
.find-me ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  gap: 16px;
  font-size: 1.3rem;
}
.find-me ul li a {
  text-decoration: none;
  color: #53bdd8;
  transition: color 0.2;
}
.find-me ul li a:hover {
  color: #64d4f0;
}
.find-me ul li img {
  width: 40px;
  transition: scale 0.2s;
}
.find-me ul li img:hover {
  scale: 1.08;
}
.skills {
  flex: 9;
  padding: 20px;
  padding-left: 40px;
  color: #dfdfdf;
}
.skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.skills ul li {
  display: flex;
  align-items: center;
  width: calc(40%);
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  font-size: 1.3rem;
}
.skills ul li img {
  width: 40px;
  transition: scale 0.2s;
}
.skills ul li img:hover {
  scale: 1.08;
}
.seperator {
  border-left: 2px dotted #ffffff1e;
  border-right: none;
  border-bottom: none;
  border-top: none;
  padding: 0;
}

.blue-stripe {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background-color: #599fd8; /* Blue color */
}

/* --------------------- Responsive --------------------- */
@media (max-width: 1600px) {
  .wrapper {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    width: 88%;
  }
}
@media (max-width: 900px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper {
    width: 100%;
  }
  .navbar-title {
    margin-left: 0.5rem;
    font-size: 24px;
  }
  .navbar-menu li a {
    font-size: 16px;
  }
  .intro {
    flex-direction: column;
    align-items: center;
  }
  .intro-image img {
    width: 120px;
    margin-left: 0;
  }
  .intro-text {
    margin-right: 0;
    text-align: center;
    padding: 10px;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
}
