@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&display=swap');
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', monospace;
    background: linear-gradient(135deg, #2a2a2a, #3a3a3a, #4a4a4a);
    background-size: 300% 300%;
    animation: gradientAnimation 200s linear infinite;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}
.center{
    display: flex;
    justify-content: center;
    width: 100%;
}
.wrapper {
    width: 60%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.473);
}
::-moz-selection {
    background: #ffffff40;
}
::selection {
    background: #ffffff40;
}

/* --------------- Navbar ------------------ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}
.navbar-title {
    padding: 0px 8px;
    font-size: 36px;
    background-color: #dfdfdf;
    margin-left: 2rem;
    transition: scale 0.2s;
}
.navbar-title a {
    text-decoration: none;
    color: black;
}
.navbar-title:hover{
    scale: 1.06;
}
.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-right: 2rem;
}
.navbar-menu li {
    position: relative;
}
.navbar-menu li a {
    padding: 8px;
    color: #dfdfdf;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
.navbar-menu li a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #dfdfdf;
    transition: width 0.2s ease-in-out;
}
.navbar-menu li a:hover::after {
    width: 100%;
}

/* --------------- About Section ------------------ */

.about {
    padding: 20px;
    color: #dfdfdf;
    display: flex;
    flex-direction: column;
}
.about h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 20px;
    color: #599fd8;
}
.about-list {
    list-style-type: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.about-list li img{
    height: 32px;
    width: 32px;
}
.about-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 8px;
    margin-bottom: 4px;
}
.about-container{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #202020;
    border-radius: 5px;
    margin-bottom: 18px;
    border-left: 5px solid #599fd8;
    transition: scale 0.2s;
}
.about-container:hover{
    scale: 1.01;
}
.about-container img{
    width: 50px;
    height: 50px;
}


/* --------------------- Responsive --------------------- */
@media(max-width: 1600px){
    .wrapper {
        width: 80%;
    }
}
@media(max-width: 1200px){
    .wrapper {
        width: 88%;
    }
}
@media (max-width: 900px) {
    .navbar{
        display: flex;
        flex-wrap: wrap;
    }
    .wrapper {
        width: 100%;
    }
    .navbar-title {
        margin-left: 0.5rem;
        font-size: 24px;
    }
    .navbar-menu li a {
        font-size: 16px;
    }
}